source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget MoreLinq.Portable
nuget Newtonsoft.Json
nuget protobuf-net

group Build
  source https://nuget.org/api/v2
  
  nuget GitVersion.CommandLine prerelease
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Data
  nuget FSharp.Formatting
  nuget GitChangeLog

group Test
  source https://nuget.org/api/v2
  
  nuget xunit.core
  nuget xunit.assert
  nuget xunit.runner.console
  nuget Shouldly